{% extends 'Admin/homepage.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/add_pickup_post/#main">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr><br><br>
      <th width="180px">NAME</th>
      <td>
      <input type="text" name="textfield" pattern="[a-z A-Z]+" required id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <th>LISENCE NO</th>
      <td>
      <input type="text" name="textfield2" pattern="[A-Z0-9]+" required id="textfield2" class="form-control" /></td>
    </tr>
    <tr>
      <th>PLACE</th>
      <td>
      <input type="text" name="textfield3" pattern="[a-z A-Z]+" required id="textfield3" class="form-control"/></td>
    </tr>
    <tr>
      <th>PHONE</th>
      <td>
      <input type="text" name="textfield4" pattern="[6789][0-9]{9}" required id="textfield4" class="form-control"/></td>
    </tr>
    <tr>
      <th>EMAIL</th>
      <td>
      <input type="email" name="textfield5" required id="textfield5" class="form-control"/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="ADD" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
{% endblock %}
