<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/Myapp/add_category">Add Category</a><br>
<a href="/Myapp/view_category">View category</a><br>
<a href="/Myapp/view_users">View users</a><br>
<a href="/Myapp/request_from_user">View request from user</a><br>
<a href="/Myapp/view_confirm_request">View confirm request</a><br>
<a href="/Myapp/reject_request">View rejected request</a><br>
<a href="/Myapp/view_schedule">View schedule</a><br>
<a href="/Myapp/view_feedback">View feedback</a><br>
<a href="/Myapp/admin_change_password">Change password</a><br>
<a href="/Myapp/add_pickup">Add pickup</a><br>
<a href="/Myapp/view_pickup">View pickup</a><br>





</body>
</html>