{% extends 'Admin/homepage.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/admin_change_password_post/">
     {% csrf_token %}
  <table class="table table-bordered">
      <br><br>
    <tr>
      <th width="200px">CURRENT PASSWORD</th>
      <td>
      <input type="text" name="textfield" id="textfield" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required class="form-control" /></td>
    </tr>
    <tr>
      <th>NEW PASSWORD</th>
      <td>
      <input type="text" name="textfield2" id="textfield2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required class="form-control" /></td>
    </tr>
    <tr>
      <th>CONFIRM PASSWORD</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required class="form-control" /></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input type="submit" name="button" id="button" value="UPDATE" class="btn btn-success" /></td>
      
    </tr>
  </table>
</form>
{% endblock %}