<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/Myapp/login_post/">
    {% csrf_token %}
  <table width="258" border="1">
    <tr>
      <td width="78">Username</td>
      <td width="168"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input type="submit" name="button" id="button" value="Login" /></td>
     
     
    </tr>
    <tr>

    <td align="center" colspan="2"><a href="/Myapp/signup/">Signup</a></td>
    </tr>
  </table>
</form>
</body>
</html>
