<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/Myapp/view_profile/">View profile</a><br>
<a href="/Myapp/send_request/">Send request</a><br>
<a href="/Myapp/view_request/">View request</a><br>
<a href="/Myapp/view_coins/">View coins</a><br>
<a href="/Myapp/send_feedback/">Send feedback</a><br>
<a href="/Myapp/user_change_password/">Change password </a><br>
{#<a href="/Myapp/view_pickup_details/">View pickup details</a><br>#}




</body>
</html>